<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmación de reserva</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title">Confirmación de reserva</h1>
                        <p class="card-text">Hola,</p>
                        <p class="card-text">Has realizado una reserva para el producto "{{ productoNombre }}" en la fecha {{ fechaReserva }}.</p>
                        <p class="card-text">¡Gracias por tu reserva!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>