<h1>Porfavor confirma tu registro!</h1>

<p>
    Bienvenido a la pagina de Beep Avda de Andalucia 25, Jaen, España. Porfavor pulsa sobre el siguiente enlace: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar mi Email</a>.
    Para confirmar tu registro. Este link expira en una hora {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Gracias!
</p>
