.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgba(192, 192, 192, 0.3);
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    overflow-x: auto;
}

.nota {
    border: 1px solid gray;
    width: 15%;
    height: 180px;
    background-color: white;
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;
}

.nota h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.nota p {
    margin: 0;
    font-size: 14px;
}